body{
    background-color: #EFEFEF;
    color: black;
    margin: 0;
}

a {
    text-decoration: none;
}
ol,ul{
    list-style: none;
}

h1,h1,h3,h4,h5,h6{
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.topNavBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px 0;
    transition: all 1s;
    color: #C2C4C7;
}

.topNavBar.active{
    background: #FFFFFF;
    color: #3E4450;
    padding: 10px 0;
    box-shadow: 0px 2px 2px 0px #000000;
}

.topNavBar .banner .banner-list > li {
    float: left;
    list-style: none;
    padding: 0 17px;
}

.topNavBar .banner .banner-list > li > a{
    color: inherit;
    font-size: 12px;
    font-weight: bolder;
    display: block;
    position: relative;
}

.topNavBar .banner .banner-list > li > a.active:after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #CB7572;
    animation-name: slidel2r;
    animation-duration: 1s;
    position: absolute ;
    top: 100%;
    left: 0;
}

@keyframes slidel2r {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
} 

.banner-list > li {
    position: relative;
}
.banner-list > li > ul{
    position: absolute;
    top: 130%;
    white-space: nowrap;
    display: none;
    animation-name: menulistl2r;
    animation-duration: 1s;
    
    /* padding: 0 10px; */
}

.banner-list > li > ul.active{
    display: block;
}

@keyframes menulistl2r {
    from {
      right: 100%;
    }
    to {
      right: 0;
    }
} 
.banner-list > li > ul > li{
    background-color: #343A42;
    padding: 8px 5px;
    font-size: 12px;
    text-align: center;
    color: white;
}

.banner-list > li > ul > li:hover {
    cursor: pointer;
    color: #CB7572;
}

.topNavBar .banner{
    float: right;
    /* line-height: 100%; */
    padding: 14px 0;
}

.topNavBar .logo{
    font-family: "Arial Black", serif;
    font-size: 24px;
    display: block;
    float: left;
    padding: 6px 0;
    margin-left: 13px;
}

.topNavBar .logo .rs{
    color: #D96F6F;
}

.topNavBar .logo .logo-card{
    color: #9B9DA2;
}
.background{
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-size: cover;
    height: 512px;

}
.background .shade {
    height: 100%;
    background: rgba(0,0,0,0.6);
}

main{
    max-width: 940px;
    margin: auto auto;
}
.myCard{
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    margin-top: -340px;
    box-shadow: 0 6px 10px -5px rgba(0,0,0,0.77);
}

.myCard .pictureAndProfile {
    height: 442px;

}
.myCard .pictureAndProfile .picture{
    float: left;
    margin-top: 50px;
    margin-left: 45px;
}

.myCard .pictureAndProfile .profile{
    float: left;
    margin-top: 50px;
    margin-left: 45px;
    width: 470px;
}
.myCard .pictureAndProfile .profile .hello{
    display: inline-block;
    background: #D96F6F;
    color: #FFFFFF;
    font-size: 14px;
    padding: 3px 15px;
    position: relative;
    margin-bottom: 20px;
}

.myCard .pictureAndProfile .picture .avatar{
    height: 347px;
    width: 299px;

    border-bottom: 1px solid transparent;
}
.triangle {
    display: inline-block;
    border-bottom: 10px solid transparent;
    border-left: 13px solid #D96F6F;;
    position: absolute;
    top: 100%;
    left: 10%;
}

.myCard hr{
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
    margin-top: 12px;
}

.myCard .profile dt,
.myCard .profile dd{
    float: left;
    margin-top: 20px;
}
.myCard .profile dt{
    width: 40%;
    font-weight: bolder;
}

.myCard .profile dd{
    width: 60%;
    color: #9da0a7;
}

.media{
    background: #D96F6F;
    text-align: center;
    padding: 40px 40px;
}
.media a {
    height: 40px;
    width: 40px;
    display: inline-block;
    /*line-height: 40px;*/
    margin: 0 20px;
}

.media a:hover{
    border-radius: 50%;
    background: #C36464;
}

.media a svg{
    width: 2em; height: 2em;
    vertical-align: -0.15em;
    overflow: hidden;
    vertical-align: top;
    fill: #FFFFFF;
}

.downloadWrapper {
    text-align: center;
    margin-top: 30px;
}

.downloadWrapper .downloadResume{
    border: 2px solid #DEDFE0;
    color: #3E4450;
    font-weight: bold;
    line-height: 1.1;
    display: inline-block;
    padding: 20px 70px;
    border-radius: 5px;
}

.downloadWrapper .downloadResume:hover{
    box-shadow: 0 6px 10px -5px rgba(0,0,0,0.77);
    transition: all 0.5s
}
.introduce {
    line-height: 1.5;
    font-size: 20px;
    font-weight: normal;
    font-family: Kai, serif;
    margin-top: 40px;
}

section .skillTitle,
section .portfolioTitle{
    text-align: center;
    font-size: 34px;
    font-weight: normal;
    margin-top: 70px;
}
section .skill{
    margin-top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
    padding: 40px 50px;
    border-radius: 5px;
}

section .skill .skillList li{
    float: left;
    width: 48%;
    margin-bottom: 30px;
}

section .skill .skillList li:nth-child(even){
    float: right;
}
section .skill .skillList li h3{
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", serif;
    color: #3d4451;
}

section .skill .skillList .progressBarWrapper{
    height: 5px;
    background: #F7E2E2;
    margin-top: 5px;
    border-radius: 3px;
}

section .skill .skillList .progressBarWrapper .progressBar{
    height: 5px;
    background: #D96F6F;
    width: 50%;
    border-radius: 3px;

}

section .portfolio{

    margin-top: 30px;
    display: inline-block;
}

section .portfolio ul{
    display: inline-block;
    vertical-align: top;

}

section .portfolio .bannerItem li{
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 20px;
}

section .portfolio .bannerItem li:hover{
    cursor: pointer;
}

section .portfolioWrapper{
    text-align: center;
}

section .seekBarWrapper{
    background: #FFFFFF;
    height: 5px;
    border-radius: 2px;
    margin-top: 10px;
    position: relative;
}
section .seekBarWrapper .seekBar{
    height: 5px;
    background: #D96F6E;
    border-radius: 2px;
    position: absolute;
}
section .seekBarWrapper .seekBar.c1{
    width: 70px;
}

section .seekBarWrapper .seekBar.c2{
    width: 90px;
    left: 80px;
}

section .seekBarWrapper .seekBar.c3{
    width: 90px;
    right: 0;
}

section .portfolios{
    margin-top: 20px;
    position: relative;
    height: 576px;
    margin-bottom: 100px;
}
section .portfolios .pf{
    position: absolute;

}
section .portfolios .pf img{
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
}
section .portfolios .p1{
    left: 0;
    top: 0;
}
section .portfolios  .p2{
    right: 0;
    top: 0;
}
section .portfolios  .p3{
    right: 0;
    bottom: 0;
}

.site-loading.active{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-loading{
    display: none;
}

.loading{
    width: 100px;
    height: 100px;
    position: relative;
}
  
  
.loading::before,.loading::after{
    content: "";
    animation-name: slidein;
    background-color: #000;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
}
  
.loading::after{
    animation-delay: 0.5s;
}
  
@keyframes slidein {
    from {
      width: 0px;
      height: 0px;
      opacity: 1;
    }
  
    to {
      width: 100px;
      height: 100px;
      opacity: 0;
    }
} 
  
.highLight{
    border: 3px solid red;
}

[data-x].offset {
    transform: translateY(200px);
}

[data-x] {
    transform: translateY(0);
    transition: all 1s;
}
